// Colours
$c-primary: #666;
$c-primary-dark: #555;
$c-subtle-accent: #ccc;
// $c-red: #f88;
// $c-red-dark: #d66;
// $c-blue: #88f;
// $c-blue-dark: #66d;
$c-green: #8f8;
$c-green-dark: #6f6;
$c-dark-brown: #341600;
$c-red: #D3100F;
$c-red-medium: #A5090A;
$c-red-dark: #7F0806;
$c-yellow: #FFEB37;
$c-orange: #FD7F21;
$c-orange-dark: #D24122;
$c-maroon: #5A0524;
$c-blue-dark: #003551;
$c-blue-medium: #004667;
$c-blue: #0069A2;
$c-blue-grey-dar: #6987A9;
$c-blue-grey-mid: #95B2D2;
$c-blue-grey-light: #C8D9ED;
$gradient: linear-gradient(296deg, $c-yellow, $c-orange 20%, $c-orange-dark, $c-maroon);